.cell {
  height: 100px;
  width: 100px;
  border: 4px solid gray;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.cell:hover{
  background-color: rgb(180, 180, 180);
  transition: background-color 100ms linear;
}

.selected, .selected:hover{
  background-color: rgb(91, 204, 91);
}
